@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-x: hidden;
}

.v-select,
.select2-container {
    z-index: 10001 !important;
    width: 100% !important;
}

.vs__dropdown-menu,
.select2-dropdown {
    z-index: 10002 !important;
}


.vs__dropdown-toggle {
    border-radius: 8px;
    padding: 6px 10px;
}
